/*csslint order-alphabetical: false, box-sizing: false*/

body {
  padding-top: 100px;
}

.navbar-collapse {
  text-align:center;
}

.navbar-nav {
    display:inline-block;
    float:none;
}

.internal-navbar {
    margin-top: 50px; 
}

.internal-navbar .container {
    background-color: lightgrey;
}

.spell_container {
    font-family: 'Lora', serif;
    font-size: 18px;
}

.spell_name {
    font-family: 'Mate SC', serif;
    font-size: 3em;
    margin-bottom: -5px;
}

.spell_school_level {
    font-size: 1.25em;
    font-style: italic;
}
.spell_detail p {
    margin-bottom: 2px;
}

.spell_head, .spell_detail {
    margin-bottom: 20px;
}

.spell_text table {
    background-color: transparent;
    border: 1px solid #0A4958;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

.spell_text thead {
    border-color: inherit;
    display: table-header-group;
    vertical-align: middle;
}

.spell_text th {
    background-color: #0A4958;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.spell_text tbody tr:nth-child(even) {
   background-color: #ccc;
}

.spell_text td {
    padding: 8px;
    text-align: center;
}

.spell-block ul {
    list-style-type: none;
}


