{% extends parent_template|default:"spellbook/spellbook_base.html" %}

{% block internal_nav %}
  <!-- Second filxed navbar -->
    <nav class="navbar internal-navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" id="nav-toggle-internal" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Spell Levels: </a>
        </div>
        <div id="navbar2" class="navbar-collapse collapse">
          <ul class="nav navbar-nav level-links in-nav-text">
            {% if spells.0 %}<li><a href="#cantrip">Cantrips</a></li>{% endif %}
            {% if spells.1 %}<li><a href="#level-1">1</a></li>{% endif %}
            {% if spells.2 %}<li><a href="#level-2">2</a></li>{% endif %}
            {% if spells.3 %}<li><a href="#level-3">3</a></li>{% endif %}
            {% if spells.4 %}<li><a href="#level-4">4</a></li>{% endif %}
            {% if spells.5 %}<li><a href="#level-5">5</a></li>{% endif %}
            {% if spells.6 %}<li><a href="#level-6">6</a></li>{% endif %}
            {% if spells.7 %}<li><a href="#level-7">7</a></li>{% endif %}
            {% if spells.8 %}<li><a href="#level-8">8</a></li>{% endif %}
            {% if spells.9 %}<li><a href="#level-9">9</a></li>{% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}
  <div id="content-box" class="row">
    <div class="col-md-6 spell-list-container">
      {% if spells.0 %}
        <div class="spell-block">
          <h2 id="cantrip" class="fixed-anchor spell-level-header">Cantrips</h2>
          <ul>
          {% for spell in spells.0 %}
            <li class="spell">
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.1 %}
        <div class="spell-block">
          <h2 id="level-1" class="fixed-anchor spell-level-header">1st Level</h2>
          <ul>
          {% for spell in spells.1 %}
            <li class=spell>
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.2 %}
        <div class="spell-block">
          <h2 id="level-2" class="fixed-anchor spell-level-header">2nd Level</h2>
          <ul>
          {% for spell in spells.2 %}
            <li class=spell>
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.3 %}
        <div class="spell-block">
          <h2 id="level-3" class="fixed-anchor spell-level-header">3rd Level</h2>
          <ul>
          {% for spell in spells.3 %}
            <li class="spell">
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.4 %}
        <div class="spell-block">
          <h2 id="level-4" class="fixed-anchor spell-level-header">4th Level</h2>
          <ul>
          {% for spell in spells.4 %}
            <li class="spell">
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.5 %}
        <div class="spell-block">
          <h2 id="level-5" class="fixed-anchor spell-level-header">5th Level</h2>
          <ul>
          {% for spell in spells.5 %}
            <li class="spell">
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.6 %}
        <div class="spell-block">
          <h2 id="level-6" class="fixed-anchor spell-level-header">6th Level</h2>
          <ul>
          {% for spell in spells.6 %}
            <li class="spell">
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.7 %}
        <div class="spell-block">
          <h2 id="level-7" class="fixed-anchor spell-level-header">7th Level</h2>
          <ul>
          {% for spell in spells.7 %}
            <li class="spell">
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.8 %}
        <div class="spell-block">
          <h2 id="level-8" class="fixed-anchor spell-level-header">8th Level</h2>
          <ul>
          {% for spell in spells.8 %}
            <li class="spell">
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if spells.9 %}
        <div class="spell-block">
          <h2 id="level-9" class="fixed-anchor spell-level-header">9th Level</h2>
          <ul>
          {% for spell in spells.9 %}
            <li class="spell">
              <a href={{spell.get_absolute_url}}>{{spell.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}