{% extends parent_template|default:"spellbook/spellbook_base.html" %}
{% load staticfiles %}
{% load spellbook_tags %}

{% block title %}
  {{ spell.name }}
{% endblock %}

{% block links %}
  {{ block.super }}
  <link href="https://fonts.googleapis.com/css?family=Lora|Mate+SC" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="container spell_container"> 
    <div class="spell_head">
      <h1 class="spell_name">{{spell.name}}</h1>
      <p class="spell_school_level">
        {% if spell.level.num == 0 %}
          {{spell.school}} {{spell.level}}
        {% else %}
          {{spell.level}} {{spell.school}}
        {% endif %}
      </p>
    </div>
    <div class="spell_detail">
      <p><strong>Casting Time: </strong> {{ spell.casting_time }}{% if spell.cast_time_text %}, {{ spell.cast_time_text }} {% endif %}</p>
      <p><strong>Range: </strong> {{ spell.rng }} {% if spell.range_text %} ({{ spell.range_text }}) {% endif %}</p>
      <p><strong>Components: </Strong> {{ spell.component.all|join:", " }} {% if spell.component_text %} ({{ spell.component_text }}) {% endif %}</p>
      <p><strong>Duration: </strong> {% if spell.concentration %} Concentration, {{ spell.duration }} {% else %} {{ spell.duration|capfirst }}{% endif %}</p>
    </div>
    <div class="spell_text">
      {{spell.text|markdownify|safe}}
    </div>
  </div>
{% endblock %}
