{% extends parent_template|default:"spellbook/spellbook_base.html" %}
{% load staticfiles %}

{% block internal_nav %}
  <!-- Second filxed navbar -->
    <nav class="navbar internal-navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" id="nav-toggle-internal" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Spell Levels: </a>
        </div>
        <div id="navbar2" class="navbar-collapse collapse">
          <ul class="nav navbar-nav level-links in-nav-text">
            <li><a href="#search">Search</a></li>
            <li><a href="#cantrip">Cantrips</a></li>
            <li><a href="#level-1">1</a></li>
            <li><a href="#level-2">2</a></li>
            <li><a href="#level-3">3</a></li>
            <li><a href="#level-4">4</a></li>
            <li><a href="#level-5">5</a></li>
            <li><a href="#level-6">6</a></li>
            <li><a href="#level-7">7</a></li>
            <li><a href="#level-8">8</a></li>
            <li><a href="#level-9">9</a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}
  <div id=class="row">
    <div class="col-md-6 spell-list-container">
      <div class="spell-block">
        <h2 id="search" class="fixed-anchor spell-level-header">Search</h2>
        <form id="search-form" method="POST" action="/">{% csrf_token %}
          <input class="form-control" type="text" name="search" placeholder="Search.." {% if search %} value="{{search}}"{% endif %}>
        </form>
      </div>
      <div id="content-box">
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'spellbook/js/main.js' %}"></script>
{% endblock %}