{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="A site to display D&D spells">
    <meta name="author" content="Patrick McNally">
    <link rel="icon" href="{% static 'site/favicon.ico' %}">

    <title>
      {% block title %}
      {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'site/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Style for spacing with fixed navbar -->
    <link href="{% static 'site/css/navbar-fixed-top.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block links %}
    {% endblock %}
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Spellbook</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/spellbook/">All</a></li>
            {% for class in classes %}
              <li><a href="{{ class.get_absolute_url }}">{{ class.name|title }}</a></li>
            {% endfor %}
          </ul>
    </nav>

    <div class="container">
      <main>
        {% block content %}
          This is default content!
        {% endblock %}
      </main>
    </div><!-- container -->

    <footer>
      <p>
        &copy; 2016
        <a href="https://github.com/Pjmcnally">
          Patrick McNally</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'site/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'site/js/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- Javascript for site -->
    <script src="{% static 'site/js/main.js' %}"></script>  
  </body>
</html>